<!DOCTYPE html>
<html>
<head>
  <title>Foodie</title>
  <link rel="stylesheet" href="styles.css">
  <script src="bower_components/angular.min.js"></script>
</head>

<body ng-app="foodie" ng-controller="main">
    <button ng-click="getLocation()"> HUNGRY???</button>
    <button ng-click="addLocation()"> SAVE LIFE???</button>

    <div ng-show="showGetLocation" ng-repeat="item in items">
        Location: {{item.location}}
        Food: {{item.food}}
        Capacity: {{item.capacity}}
        Time: {{item.time}}
    </div>

    <div ng-show="showAddLocation">
        Location <input type="text" id="location" ng-model="myForm.location" ng-minlength="0" ng-maxlength="500">
        Food <input type="text" id="food" ng-model="myForm.food" ng-minlength="0" ng-maxlength="500">
        Capacity <input type="text" id="capacity" ng-model="myForm.capacity" ng-minlength="0" ng-maxlength="500">
        Time <input type="text" id="time" ng-model="myForm.time" ng-minlength="0" ng-maxlength="500">
    </div>
    <div>
        <button ng-click="submit(myForm)"> Submit</button>
    </div>


  <script src="main.js"></script>
  <script src="bower_components/ui-bootstrap.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="angularFire.js" type="text/javascript"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js" type="text/javascript"></script>

</body>
</html>
