<!DOCTYPE html>
<html>
<head>
  <title>Foodie</title>
  <link rel="stylesheet" href="bower_components/angular/angular-csp.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/angular-flickr/dist/angular-flickr.min.css">

  <link rel="stylesheet" href="styles.css"/>

</head>

<body ng-csp ng-app="foodie" ng-controller="MainController">
    <div class="container-fluid" id="container">
      <div class="row">
        <h1 id="appName" class="text-center">Foodie</h1>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6 text-center">
          <button class="btn" ng-click="getLocation()">HUNGRY???</button>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 text-center">
          <button class="btn" ng-click="addLocation()">SAVE LIFE???</button>
        </div>
      </div>

      <div id="carousel" class="row" ng-show="showGetLocation">
        <div class="col-xs- col-md-8 col-lg-8 text-center">
          <carousel interval="myInterval">
            <slide ng-repeat="foodEvent in foodEvents" active="foodEvent.active">
              <div style="display: block; height: 200px; background-color: #4CAF50"></div>
              <div class="carousel-caption">
                <h4 style="font-weight: bold; font-decoration: capitalize">{{foodEvent.food}}</h4>
                <p>
                  <span>{{foodEvent.location}}</span><br/>
                  <span>{{foodEvent.date}} - {{foodEvent.time}}</span><br/>
                  <span>{{foodEvent.capacity}}</span><br/>
                </p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>

      <div id="eventForm" class="row" ng-show="showAddLocation">
          <form id="inputboxes" class="text-center">
            <div class="form-group">
              <label for="location">Location</label>
              <input name="location" type="text" id="location" ng-model="newEvent.location" ng-minlength="0" ng-maxlength="500" class="form-control" placeholder="College of Computing">
            </div>
            <div class="form-group">
              <label for="food">Food</label>
              <input type="text" name="food" id="food" ng-model="newEvent.food" ng-minlength="0" ng-maxlength="500" class="form-control" placeholder="Pizza">
            </div>
            <div class="form-group">
              <label for="capacity">Capacity</label>
              <input type="text" name="capacity" id="capacity" ng-model="newEvent.capacity" ng-minlength="0" ng-maxlength="500" class="form-control" placeholder="20">
            </div>
            <div class="form-group">
              <label for="time">Time</label>
              <input type="time" name="time" id="time" ng-model="newEvent.time" ng-minlength="0" ng-maxlength="500" class="form-control">
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" name="date" id="date" ng-model="newEvent.date" ng-minlength="0" ng-maxlength="500" class="form-control" value="{{newEvent.date | date: 'yyyy-MM-dd' }}">
            </div>
            <button type="submit" class="btn" ng-click="submit()">Submit</button>
          </form>
      </div>
    </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js" type="text/javascript"></script>
  <script src="bower_components/angular-flickr/dist/angular-flickr.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
