/* CSS file placeholder. */
#container {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

#appName {
  margin-bottom: 5vh;
}

form {
  margin-top: 5vh;
}

.form-control {
  color: #FFFFFF;
  background-color: #D32F2F;
}

.form-control > input[type="date"] {
  color: #000000;
}
#carousel{
  color: black;
  margin-top: 10vh;
}

button.btn {
  background-color: #448AFF;
  color: #FFFFFF;
}

#location{
  background: transparent;
}
#food{
  background: transparent;
}
#time{
  background: transparent;
}
#capacity{
  background: transparent;
}


body {
  background-color: #D32F2F;
  color: #FFFFFF;
}