/* CSS file placeholder. */
#container {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#appName {
  color: #A231C3;
  margin-bottom: 5vh;
}

form {
  margin-top: 5vh;
}

#carousel{
  color: black;
}

#location{
  background: transparent;
}
#food{
  background: transparent;
}
#time{
  background: transparent;
}
#capacity{
  background: transparent;
}
